<div class="space-y-6">


  <div *ngIf="listAnnonces.length === 0" class="text-center py-8 bg-gray-800 rounded-xl">
    <i class="fas fa-bullhorn text-5xl text-amber-500 mb-4"></i>
    <p class="text-gray-300">Aucune annonce disponible pour le moment</p>
  </div>

  <div *ngIf="listAnnonces.length > 0" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let annonce of listAnnonces" class="annonce-card">
      <app-item-annonce [annonce]="annonce"></app-item-annonce>
    </div>
  </div>
</div>
